#centerBox {
  width: 1fr;
  margin: 0, auto;
  padding: 10em;
}

details {
  margin: 1em;
  border: 1px solid darkgray;
  border-radius: 0.5em;
  background-color: lightgray;
  padding: 1em;
}

details div {
  margin: 3em;
  width: 0.5fr;
}

details form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1em;
  grid-row-gap: 1em;
}

details form button {
  grid-column: span 2;
  height: 4em;
  font-weight: bolder;
}

details form[id="emptyContainerEvergreen"] textarea {
  grid-column: span 2;
  height: 10em;
}
